* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: white;
}

audio {
    display: none;
}

.header {
    background-color: hsla(305, 23%, 57%, 1);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 6px 22px 1px rgba(0, 0, 0, 0.49);
}

.about {
    float: left;
    width: 20%;
    background-color: hsla(233, 13%, 75%, 1);
    padding: 20px;
}

.about h1 {
    font-size: 24px;
}

ul {
    height: 18.875em;
    width: 34em;
    margin: auto;
    padding: 3em 0 0 3em;
    position: relative;
    border-radius: 1em;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left
}

ul .white {
    height: 16em;
    width: 4em;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}

ul .white:active {
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%)
}

.black {
    height: 8em;
    width: 2em;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.black:active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.a,
.g,
.f,
.e,
.b,
.d,
.c {
    margin: 0 0 0 -1em
}

.container {
    padding: 40px;
    float: right;
    width: 80%;
    background-color: hsla(175, 29%, 77%, 1);
}